.title {
    height: 100%;
    max-height: 50px;
}

.hide-header {
    display: none;
}

#customNavbar .navbar-nav {
    display: flex; /* Hiển thị các mục theo hàng ngang */
    flex-wrap: nowrap; /* Không cho phần tử xuống dòng */
    overflow-x: auto; /* Cho phép cuộn ngang */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Ẩn thanh cuộn trên Edge */
    scrollbar-width: thin; /* Thiết lập kích thước thanh cuộn */
}

.namecus {
    font-style: italic;
}

.bg-light {
    height: 15px;
    --bs-bg-opacity: 1;
    margin-left: 10px;
    background-color: white !important;
}

.navbar-tech {
    background-color: #fcfaf6;
    margin-top: 10px;
}

.small {
    font-size: 15px;
}

.small-footer {
    font-size: 15px;
}

.head-popup:hover,
.small:hover {
    text-decoration: underline;
    color: red;
}

.head-popup {
    color: #e60707;
}

#hover-blue:hover {
    color: rgb(45, 108, 209);
    cursor: pointer;
}

.title:hover {
    color: rgb(188, 8, 17);
    cursor: pointer;
}

.hover-title:hover {
    color: rgb(188, 8, 17);
    cursor: pointer;
}

.scrollable-col {
    height: 500px;
    overflow-y: auto;
    border-left: 1px solid #ddd;
    padding: 10px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.button btn-google {
    border-color: red;
}

.popupuser {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 9999;
    width: 50%;
    height: 60%;

}

.thin {
    font-weight: 100;
}

.popup-content-login {
    background-color: #fefefe;
    margin: auto;
    margin-top: 107px;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 100%;
    height: 54%;
    text-align: center;
}

.popup-content {

    background-color: #fefefe;
    margin: auto;
    margin-top: 107px;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 100%;
    height: 83%;
    text-align: center;
}

.btn-block {
    background-color: red;
}

.closeuserpopup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 0;
    min-width: 160px;
    z-index: 1;
    opacity: 0;
    transform: translateY(10px); /* Đặt giá trị ban đầu ở dưới */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng transition */
}

.dropdown-item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0); /* Khi hover, di chuyển lên */
}

.menu {
    display: none; /* Mặc định ẩn menu */
}

@media (max-width: 576px) {
    
    #openPopup{
        display: none !important;
    } 
    #loginIconTrigger{
        margin-left: 95px !important;
    }
    .custom-header .fa-bars {

        margin-left: 10px !important;
    }
    #loginText {
        display: none !important;
    }
    .popup-content-login{
        text-align: center !important;
        height: 440px !important;
        width: 366px !important;
    }
    #loginIconIphone{
        margin-left: 150px !important;
    }
    .img-fluid{
        margin-left: 20px !important;
    }
    
}

.icon-text {
    display: flex;
    align-items: center;
}
.icon-text i {
    margin-right: 8px; /* khoảng cách giữa icon và chữ */
}

.menu.fixed {
    position: fixed;
    top: 0;
}

.menu {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #333;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: grab;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background-color: #575757;
}

.grabbing {
    cursor: grabbing !important;
}

.menu{
    display: none;
}



/* Ẩn logo và icon user trên màn hình lớn hơn 768px */
@media (min-width: 769px) {
    .logo,
    #userIcon {
        display: none;
    }
}

@media only screen 
    and (device-width: 390px) /* Chiều rộng của iPhone 12 Pro */
    and (device-height: 844px) /* Chiều cao của iPhone 12 Pro */
    and (-webkit-device-pixel-ratio: 3) /* Mật độ điểm ảnh của iPhone 12 Pro */ {
        .menu {
            display: block; /* Hiển thị menu chỉ trên iPhone 12 Pro */
        }
    }

/* Hiển thị chỉ logo, icon bars và icon user trên iPhone 12 */
/* Ẩn các phần khác trừ logo trên các màn hình có kích thước tương ứng với iPhone 12 Pro */
@media only screen 
  and (min-width: 390px) /* Điều kiện kích thước tối thiểu cho iPhone 12 Pro */
  and (max-width: 428px) /* Điều kiện kích thước tối đa cho iPhone 12 Pro */
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3) { /* Kích thước màn hình của iPhone 12 Pro */
    .img-fluid {
    max-width: 341%;
    height: auto;
    margin-left: -50px !important;
}
    .logo {
        display: block;
        max-width: 100%; /* Đảm bảo ảnh không bị tràn khỏi phần tử cha */
        margin-left: 10px; /* Đặt lại margin-left */
    }

    .fa-bars{
        margin-left: 10px !important;
    }

    /* Ẩn các phần khác */
    .custom-header .col-1,
    .custom-header .col-3
    {
        display: none;
    }
   
}



@media (min-width: 768px) {
.container {
    max-width: 640px;
}
#openPopupMobile{
    display: none;
}
}


/* Ẩn navbar khi màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
    .navbar-nav{
        display: none !important;
    }
    .fixed-top{
        width: 75% !important;
    }
    .img-fluid{
        margin-left: 1px !important;
    }
    .fa-bars{
        margin-left: -21% !important;
    }
    .popup-content{
        width: 100% !important;
        margin-left: 0% !important;
    }
    .popup-content-login {
        margin-left: 4% !important;
        height: 327px;
        width: 92%;
    }
    .navItems{
        margin-left: 46px !important;
        width: 230% !important;    }
}


/* Hiển thị nút toggle trên header khi màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
    .custom-header .fa-bars {
        display: block;
        font-size: 24px;
        margin-left: -121px; /* Điều chỉnh khoảng cách */
        cursor: pointer;
    }
}

/* Ẩn nút toggle trên header khi màn hình lớn hơn 768px */
@media (min-width: 769px) {
    .custom-header .fa-bars {
        display: none;
    }
}





/* @media (min-width: 992px) */
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    background-color: white;
    box-shadow: 0 5px 21px rgba(255, 255, 255, 0.08);
    margin-top: 25px;
}

.collapse-tech {
    background-color: #f9f2e6;
}

body {
    padding-top: 56px;
}

.view {
    color: #e90808;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    width: 153%;
}


.container-fluid {
    height: 100%;
    background-color: white;
}

body {
    padding-top: 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-header {
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: 12%;
    max-height: 36px;
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998; /* Z-index thấp hơn popup nhưng cao hơn navbar */
    display: none;
}



.fixed-top-navbar {
    top: 50px;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-item {
    flex: 1;
    padding: 0 10px;
    margin-top: -13px;
}


.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1140px;
    height: 80px;
}

.fa-bars {
    margin-top: 13px;
    margin-left: 17px;
}

.vertical-separator {
    border-right: 1px solid #ccc;
}

.vertical-separator:last-child {
    border-right: none;
}

.table-cell {
    border: 1px solid #dee2e6;
    padding: 8px;
    width: 13.333333%;

}

.dot-before {
    position: relative;
    padding-left: 20px;
}

.dot-before::before {
    content: '';
    position: absolute;
    left: 0;
    top: 20%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

.custom-link {
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

.thick-hr {
    height: 1px;
    background-color: black;
    border: none;
}

.thick-hr-footer {
    height: 3px;
    background-color: black;
    border: none;
    text-align: center;
    margin-left: -11px;
}

.tech-box {
    background-color: #f9f2e6;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}



.swiper-container {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(85 54 54 / 90%);
    font-weight: bold;
    font-size: larger;
    margin-top: -5px;
    text-decoration: underline;
    text-decoration-color: #e90808;
    text-underline-offset: 7px;
}

